.image-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  // flex-wrap: wrap;
  // justify-content: space-between;
}
.image{
  height: 200px;
  background-size: cover;
}